RADARBOLSA_API_PORT=8081
RADARBOLSA_API_ENVIRONMENT=Development

RADARBOLSA_DB_PORT=3307
RADARBOLSA_DB_NAME=radarbolsa
RADARBOLSA_DB_USER=radarbolsa
RADARBOLSA_DB_PASSWORD=radarbolsa
RADARBOLSA_DB_ROOT_PASSWORD=root
